@model IOModel


@{
    ViewData["Title"] = "Home Page";
}

<style>
    .content {
    }

    .leftPart {
        display: inline-block;
        text-align: center;
    }

    .rightPart {
        display: inline-block;
        text-align: center;
    }

    .midPart {
        display: inline-block;
        text-align: center;
    }
</style>



<body>
    @using (Html.BeginForm("CreateStudent", "GetStudents", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Person Details</th>
            </tr>
            <tr>
                <td>String Before: </td>
                <td>
                    @Html.TextBoxFor(m => m.InputString)
                </td>
            </tr>
            <tr>
                <td>String After: </td>
                <td>
                    @Html.LabelFor(m => m.OutputString)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    }
</body>
































@*<div class="content">
    <div class="leftPart">
        <label for="fname">Text to encrypt</label><br>
        <textarea cols="40" rows="5" id="input"></textarea>
    </div>
    <div class="midPart">
        <input checked="checked" type="radio" id="Encrypt" name="action">
        <label for="Encrypt">Encrypt</label><br>
        <input type="radio" id="Decrypt" name="action">
        <label for="Decrypt">Decrypt</label><br>
        <input type="button" title="Delete" value="D" onclick="location.href='@Url.Action("CreateStudent", "GetStudentsController", new { InputString = item.ID })'" />
    </div>
    <div class="rightPart">
        <label for="fname">Encrypted result</label><br>
        <textarea disabled cols="40" rows="5" id="output"></textarea>
    </div>
</div>*@